In [1]:
def func():
    print(" This is my first function")
func()

 This is my first function

In [2]:
def func():
    return " This is my first function","a", 3+7j, True
func()

' This is my first function in python'

In [5]:
func()

' This is my first function'

In [6]:
def func():
    return " This is my first function","a", 3+7j, True
func()

(' This is my first function', 'a', (3+7j), True)

In [7]:
a, b, c, d = func()

In [8]:
a

' This is my first function'

In [9]:
b

'a'

In [10]:
c

(3+7j)

In [11]:
d

True

In [15]:
def addition(num):
    if num:
        return num + addition(num - 1)
    else:
        return 0

In [16]:
addition(10)

55

In [1]:
# write a program to check if a string is pangram
def is_program(s):
    alphabet = "abcdefghijklmnopqrstuvwxyz"
    for char in alphabet:
        if char not in s.lower():
            return False
        return True
    
s = input("Enter a string: ")
if is_program(s):
    print("The string is pangram")
else: 
    print(" the string is not pangram")

Enter a string:  adddfff.f.

The string is pangram

In [3]:
#ceil function return nearest higest value
#floor function return nearest lower value

In [4]:
import math as m #math is collection of function

m.ceil(6.5)

7

In [5]:
m.floor(6.5)

6

In [6]:
#user defined function
#def func():

In [7]:
#funtion is a block of code which perform some specific task

In [8]:
#function are reusable

def greets():
    print("welcome to the office")

In [9]:
greets()

welcome to the office

In [11]:
def greets(name):
    print("welcome to the office", name)

greets("ajay")

welcome to the office ajay

In [13]:
def func():
    return "this is my first function"

func() + "in python"

'this is my first functionin python'

In [14]:
a = func()
type(a)

str

In [15]:
def func():
    cal = 2+3+4*5
    return cal
func()

25

In [16]:
def square_no(a):
    return a*a
square_no(8)

64

In [17]:
def add(a, b):
    return a+b
add(4, 7)

11

In [ ]:
add("sukh", "kaur")

'sukhkaur'

In [ ]:
def sum1(a, b, c):
    return a+b+c
sum1(1, 6, 9)

16

In [ ]:
#default argument
def sum1( b, c, a=0):
    return a+b+c
sum1(2, 3)

5

In [ ]:
def add_two_number():
    a = int(input("Enter the first number"))
    b = int(input("Enter the first number"))
    return a+b
add_two_number()

Enter the first number 5
Enter the first number 7

12

In [ ]:
def only(a):
    n = []
    for i in a:
        if type(i) == int or type(i) == float:
            n.append(i)
    
    return n

In [ ]:
only([1, 2.2, "ajay", True,])

[1, 2.2]

In [ ]:
def only(a):
    n = []
    for i in a:
        if type(i) == list:
            for j in i:
                if type(j) == int or type(j) == float:
                    n.append(j)
        else:
            
            if type(i) == int or type(i) == float:
                n.append(i)
    
    return n

In [ ]:
only([1, 2.2, "ajay", True,[5, 6, 7, "Sona"]])

NameError: name 'only' is not defined

In [ ]:
def only(a):
    n = []
    for i in a:
        if type(i) == list:
            for j in i:
                if type(j) == int or type(j) == float:
                    n.append(j)
        else:
            
            if type(i) == int or type(i) == float:
                n.append(i)
    
    return n
only([1, 2.2, "ajay", True,[5, 6, 7, "Sona"]])

[1, 2.2, 5, 6, 7]

In [ ]:
#variable length Argument>> how many number of argument we can expect

def sum1(*args):
    s = 0
    for i in args:
        s = s+i
    return s
sum1(1, 2, 4, 5)

12

In [ ]:
#variable argument with default argument?

def test(*args, a):
    return args, a

In [ ]:
test(1, 2, 3, a = "rest")

((1, 2, 3), 'rest')

In [ ]:
#varibale takes any number of argumeny
#positional argument>> Fixed  argumet
#write a function can take any number of value and return a list
def re_list(*args):
    l = []
    for i in args:
        if type(i) == list:
            l.append(i)
    return l

re_list(1, 2, 3, 4,[5, 6, 7, 8],[8, 9, 7], {14, 15, 18,})

[[5, 6, 7, 8], [8, 9, 7]]

In [ ]:
def test1(*args, **args1):
    return args,args1
test1(1, 2, 3, 4, a=100, b=500)

((1, 2, 3, 4), {'a': 100, 'b': 500})

In [ ]:
#python namespace
def greet():
    message = "Hello, welcome!" #message vaiable is loacl variable
    print(message)
greet()

Hello, welcome!

In [ ]:
subpart = " to the course" #globle variable
def greet():
    message = "Hello, welcome!" + subpart #message vaiable is loacl variable
    print(message)
greet()

Hello, welcome! to the course

In [ ]:
#Loal varaible>> a function defined inside a function
# Global variable> access anywhere
# function inside a function

def marks_sub(**kwargs):
    def total_marks(marks_list):
        return sum(marks_list)
    marks_list = []
    for sub, marks in kwargs.items():
        marks_list.append(marks)
        
    return total_marks(marks_list)

marks_sub( a = 10, b = 20)

30

In [ ]:
#iterable >> An iterable is any python obeject or sequencial structure that is capable of retrning its  member on eat a time.

In [2]:
#permitting it to be iterated over in a for loop

lis = [1, 2, "Ajay"]
for i in lis:
    print(

1
2
Ajay

In [1]:
#iteration is a process of looping through of elemments for an iterable

In [7]:
l = iter({1, 2, 3,4})
l

In [8]:
next(l)

1

In [11]:
# what is genrator Function?

def square_number(n):
    s = []
    for i in range(n):
        s.append(i ** 2)
    return s

square_number(10)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [13]:
#yield >> general function use return and genrator function use yield
def square_number(n):
    s = []
    for i in range(n):
        yield i ** 2

square_number(10)

In [14]:
gen = square_number(10)
gen

In [15]:
next(gen)

0

In [16]:
next(gen)

1

In [17]:
next(gen)

4

In [18]:
next(gen)

9

In [19]:
next(gen)

16

In [20]:
next(gen)

25

In [22]:
#fibonacci seies

def febo(n):
    a = 0
    b = 1
    for i in range(n):
        yield a 
        a, b = b, a+b
f = febo(10)
f

In [23]:
next(f)

0

In [24]:
next(f)

1

In [25]:
next(f)

1

In [26]:
next(f)

2

In [1]:
#Lembda funcction is anonyous funcion
#No need to write return statement

In [3]:
sql_lembda = lambda x: x**2

In [5]:
sql_lembda(2)

4

In [6]:
add = lambda a, b: a+b
add(2, 5)

7

In [7]:
x = ["python", "ajay", "roman"]

le = lambda x: len(x)
le("Ajay")

4

In [8]:
sorted(x, key = lambda x: len(x))

['ajay', 'roman', 'python']

In [12]:
#fibonacii series using lambda
fib = lambda n: n if n<=1 else fib(n-1)+fib(n-2)
[fib(i) for i in range(10)]

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [13]:
# factorial of given number

def fact(n):
    if n==0:
        return 1
    else:
        return n*fact(n-1)
fact(5)

120

In [15]:
fact = lambda n: 1 if n==0 else n*fact(n-1)
fact(5)

120

In [16]:
#map function> Executes a specified functon for each of item in itratble
#syntax>> map(func, *iterables)

l = [1, 2, 3, 4, 5]
def square(l):
    sq = []
    for i in l:
        sq.append(i**2)
    return sq

In [17]:
square(l)

[1, 4, 9, 16, 25]

In [18]:
def sq(x):
    return x**2
l

[1, 2, 3, 4, 5]

In [20]:
list(map(sq, l))

[1, 4, 9, 16, 25]

In [21]:
def add(x):
    return x+10
list(map(add, l))

[11, 12, 13, 14, 15]

In [22]:
#using lambda function with map

list(map(lambda x: x**2, l))

[1, 4, 9, 16, 25]

In [23]:
list(map(lambda x: x+10, l))

[11, 12, 13, 14, 15]

In [25]:
l1 = [100, 200, 300, 400]
l2 = [1, 2, 3, 4]
list(map(lambda x, y: x+y, l1, l2))

[101, 202, 303, 404]

In [27]:
words = ["python", "sukh"]
list(map(str.capitalize, words))

['Python', 'Sukh']

In [28]:
grades =["A", "b", "c", "D"]
list(map(lambda grade: 1 if grade == "A" else (3 if grade == "b" else 2), grades))

[1, 3, 2, 2]

In [29]:
#Reduce Function>> folding
#syntax>> reduce(func, iterable)
#reduce always take two argument function
from functools import reduce

In [31]:
l = [2, 1, 3, 4, 4, 5, 6]
reduce(lambda x, y: x+y, l)

25

In [32]:
words = ["data", "science", "course"]
reduce(lambda x, y: x+ " "+y, words)

'data science course'

In [33]:
#filter is used to filter element from iterable using some condition
#syntax>> filter(function, iterable)
l

[2, 1, 3, 4, 4, 5, 6]

In [35]:
list(filter(lambda x: x%2==0, l))

[2, 4, 4, 6]

In [37]:
#write a program to create recursive function to calculate sum of no 0-10

def sum_no(n):
    if n:
        return n + sum_no(n-1)
    else: 
        return 0
sum_no(10)

55

In [1]:
#write a python program to check if the string is pangram or not

def is_pangram(s):
    alphabet = "qwertyuiopasdfghjklzxcvbnm"
    for i in alphabet:
        if i not in s.lower():
            return False
    return True
s = input("Enter a string")
if is_pangram(s):
    print("string is pangram")
else:
    print("string is not pangram")

Enter a string erttythyjh

string is not pangram

In [2]:
# a list is given, sperate, integer, float, string in the three list

# [ 1, 1, 2, 2, 2.2, 3.4, "Monjo", "Kakuda"]

def seprate(s):
    s = [ 1, 1, 2, 2, 2.2, 3.4, "Monjo", "Kakuda"]
    strings = []
    floats = []
    ints = []
    for i in s:
        if type(i) == str:
            strings.append(i)
        elif type(i) == float:
            floats.append(i)
        elif type(i) == int:
            ints.append(i)
    return strings, floats, ints

strings, floats, ints = seprate(s)
print("strings", strings)
print("float", floats)
print("integer", ints)

strings ['Monjo', 'Kakuda']
float [2.2, 3.4]
integer [1, 1, 2, 2]

In [7]:
def seprate(s):
    s = [ 1, 1, 2, 2, 2.2, 3.4, [7, 8 , 9, 4], "Monjo", "Kakuda"]
    strings = []
    floats = []
    ints = []
    for i in s:
        for j in s:
            if type(i) == str:
                strings.append(i)
            elif type(i) == float:
                floats.append(i)
            elif type(i) == int:
                ints.append(i)
    return strings, floats, ints

strings, floats, ints = seprate(s)
print("strings", strings)
print("float", floats)
print("integer", ints)

strings ['Monjo', 'Monjo', 'Monjo', 'Monjo', 'Monjo', 'Monjo', 'Monjo', 'Monjo', 'Monjo', 'Kakuda', 'Kakuda', 'Kakuda', 'Kakuda', 'Kakuda', 'Kakuda', 'Kakuda', 'Kakuda', 'Kakuda']
float [2.2, 2.2, 2.2, 2.2, 2.2, 2.2, 2.2, 2.2, 2.2, 3.4, 3.4, 3.4, 3.4, 3.4, 3.4, 3.4, 3.4, 3.4]
integer [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]

In [32]:
#write a function which take variable keywords argument and variable length argument and return whichever is list or tuple

def both_func(*args, **kwargs):
    collections = []
    
    for i in args:
        if type(i) == list or type(i) == tuple:
            collections.append(i)
    for key, value in kwargs.items():
        if type(value) == list or type(value) == tuple:
            collections.append(value)
                    
    return collections
result = both_func([1, 2, 3], (4, 5, 6), name = "sukh", numbers = (7, 8, 9), message = "word")
print(result)

[[1, 2, 3], (4, 5, 6), (7, 8, 9)]