In [ ]:
#contional statement

In [2]:
gf_happy = True

if gf_happy:
    print(" go for a date")

 go for a date

In [3]:
beer = True

if beer:
    print(" yes he have beer")

 yes he have beer

In [8]:
nos = int(input("write number"))

if nos % 2 == 0:
    print("the given number is even")

else:
    print("this is a odd no")

write number 1

this is a dd no

In [14]:
nos = int(input("enter no"))

if nos > 90:
    print(" Grade is A")
    
    elif 90 <= nos > 80:
        print(" Grade is B")
        
        elif 60 <= nos >= 80:
            print(" Grade is c")
            else:
                print("you are fail")

SyntaxError: invalid syntax (3088649883.py, line 6)

In [ ]:
Year = 2000

if year % 4 == 0:
         if year % 100 != 0 or year % 400 == 0:
            print(" year is a leap year")
            else:
                print(" year is not a leap year")

SyntaxError: invalid syntax (3686069767.py, line 6)

In [33]:
age = 80
disease = False
money = 100000000
married = True
child = True
job = True
if age > 70:
    if not disease:
         print("you are good budha")
    elif 50 >= age <= 70:
        if money > 100000000:
            print(" you are retired")
        elif 500000 <= money <= 100000000:
            print(" you have just started your career")
            else: 
                (" you are bad buddha")
            elif 20 < age < 50:
                if married and child and job
                print(" you are young")
            elif age < 20:
                 print ("print no job")

SyntaxError: invalid syntax (2330741228.py, line 15)

In [34]:
for i in "pwskills":
    print(i)

p
w
s
k
i
l
l
s

In [63]:
for i in range(5):
    for j in range(i+1,5):
        print( "*", end =" ")
    print()

* * * *
* * *
* *
*

In [1]:
2 ** 5

32

In [4]:
b = 15
b+=5

In [5]:
b

20

In [6]:
b*=3
b

60

In [7]:
#membership oprator

In [8]:
a = "pwskill"
"w" in a

True

In [10]:
#identity oprator

a = 2
b = 3

a = b

a is b

True

In [11]:
# bitwise oprator>> opration at bit level
bin(17)

'0b10001'

In [12]:
type(a)

int

In [ ]:
#Type casting oprator>> Process to convert data type from one into another
# why? while executing code there will be mismatch in data type.